<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>ADIT Ada Dyś</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app ">
  <div flex layout="row">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" layout-padding>
      <img src="assets/images/logo.png">
      <div class="social-wrap">
        <a href="https://www.linkedin.com/in/adadys/" class="icon-cube icon-cube--linkedin">LinkedIn</a>
        <a href="mailto:adit.ada.dys@gmail.com" class="icon-cube icon-cube--email">Send e-mail</a>
      </div>
      <div>
        Nowoczesne i przejrzyste strony internetowe.
      </div>
    </md-sidenav>
    <md-content flex id="content">
      <div>
        <h1>Realizacje</h1>
        <md-card ng-repeat="project in app.projects">
          <md-card-title>
            <md-card-title-text flex="70">
              <span class="md-headline">{{project.name}}</span>
              <p>
                {{project.desc}}
              </p>
            </md-card-title-text>
            <md-card-title-media flex>
              <!--<portfolio></portfolio>-->
              <div class="flash-effect">
                <a ng-if="project.url" href="{{project.url}}" target="_blank">
                  <img ng-src="assets/images/{{project.image}}" class="md-card-image" alt="{{project.name}}"/>
                </a>
                <img ng-if="!project.url" ng-src="assets/images/{{project.image}}" class="md-card-image" alt="{{project.name}}"/>
              </div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
      </div>
    </md-content>
  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>
</body>
</html>
